html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
/*header*/
.header {
  height: 10vh;
  padding: 0 20px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.521); */
}

.header__logo {
  width: 100px;
}
.header__icon {
  display: flex;
}
.header__iconCart,
.header__iconAccount {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 30px;
}

/*sousHeader*/

.header__sousHeader,
.form {
  width: 100%;
  height: 300px;
  background-color: rgba(68, 189, 50, 1);
  /* position: relative; */
  display: flex;
}
.sousHeader__text {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10%;
  color: white;
}
.sousHeader__text > h4,
h3 {
  font-family: "Roboto", sans-serif;
}
.sousHeader__text > h3 {
  font-weight: 700;
  font-size: 1.9rem;
}
.sousHeader__text > h4 {
  font-weight: 700;
  font-size: 1rem;
}
.sousHeader__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 25%;
  height: 20%;
  border-radius: 5%;
  background-color: #036ad9;
}
.sousHeader__button > p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: white;
  outline: none;
}
.sousHeader__carouselprice {
  border: blue 2px solid;
  width: 550px;
}
.sousHeader__carouselprice img {
  height: 200px;
}

.pack__contain {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 60vh;
  top: 270px;
}
.pack {
  width: 25%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.pack > p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
}
.pack__textprof {
  height: 30%;
}
.pack__textprof > p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}

/*Carousel*/
.containerSlide {
  border: orangered 2px solid;
  width: 550px;
  height: 62%;
}
.slide {
  border: blue 2px solid;
  width: 39vw;
  height: 20vh;
}
/* .containerSlide img {
  height: 20vh;
} */
.containerSlide img {
  object-fit: contain;
  height: 100px;
  width: 200px;
}
.slide__picture {
  height: 100px;
  width: 200px;
}

/*Sign up*/
.form__signdesign {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 250px;
  left: 150px;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.form__signdesign input {
  width: 50%;
  height: 5%;
}
.form__block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__designleft,
.form__designright {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 400px;
  margin-left: 20px;
  justify-content: center;
}
.form__block input {
  /* margin: 20px 20px; */
  width: 90%;
  height: 10%;
  margin-bottom: 20px;
  border: none;
  border-bottom: #036ad9 1px solid;
  outline: none;
}
.form__block button {
  width: 50%;
  height: 15%;
  background-color: #036ad9;
  border-radius: 5%;
  border: none;
  color: white;
}
.form__contact {
  height: 50vh;
  width: 30vw;
  background-color: #036ad9;
  position: absolute;
  top: 250px;
  left: 850px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.form__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  height: 20%;
}
.form__title > h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.form__block label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.form__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__infoabove {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
.form__infoabove > p {
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: white;
}
